/*-- scss:defaults --*/

@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300,300i,400,400i,500,500i,700,700i);
// @import url(https://cdn.rawgit.com/tonsky/FiraCode/1.204/distr/fira_code.css);
// @import url(https://use.fontawesome.com/releases/v6.1.1/css/all.css);

// fonts
$font-family-sans-serif: 'Alegreya Sans', 'Droid Serif', 'Palatino Linotype', 'Book Antiqua', Palatino, 'Microsoft YaHei', 'Songti SC', sans-serif !default;
   
// Colores de fondo, letra y links
$body-bg: white !default;   
$body-color: #40C4FF !default; 
$link-color: $body-color !default;


// Código inline
$code-bg: #ECEFF1 !default; // fondo codigo inline
$code-color: #FF4081 !default; //color codigo inline

$code-block-bg: #ECEFF1 !default; //fondo de bloque de codigo
$code-block-border-color: white !default; //color del borde del bloque

/*-- scss:rules --*/

.reveal {
  color: black;
 // font-weight: 100;
}

// Código inline
p code:not(.sourceCode) {
    white-space: pre-wrap;
    font-size: 25px;
}

// Bloque de resultado al correr código
.reveal pre code {
    background-color: white;
    color: #2196F3;
}
// Números dentro de bloque de cógido
code span.dv {
    color: #303F9F;
}
// Operaciones dentro de bloque de código
code span.sc {
    color: #00B0FF;
}
// signo igual <- dentro de bloque de código
code span.ot {
    color: #D500F9;
}
// Numeración de bloque de código
code a:any-link {
    color: #90A4AE;
    text-decoration: none;
}

// Color de las variables en el bloque de codigo
code.sourceCode > span {
  color: #3F51B5 !important;
}
// Color strings
code span.st {
    color: #4CAF50;
}
// Color funciones
code span.cf {
    color: #40c4ff;
}
// Color funciones
code span.fu {
    color: #b392f0;
}
// Color argumentos de funciones
code span.at {
    color: #263238;
}



.picture {
  border-style: solid;
  border-width: 3pt;
  border-color: $body-color;
  border-radius: 50%;
  padding: 5pt;
  height: 50%;
  width: auto;
}

#title-slide {
  text-align: left;

  .institute,
  .date,
  .quarto-title-affiliation,
  .quarto-title-author-email {
    font-style: italic;
  font-size: 100%;
    color: #7F7F7F;
  }
  .subtitle{color: $body-color;
    font-style: italic;
    font-size: 150%
  }

  .author, .quarto-title-author-name {
    color: #7F7F7F;
  }

  .quarto-title-authors {
    display: flex;
    justify-content: left;
  
    .quarto-title-author {
      padding-left: 0em;
      padding-right: 0em;
      width: 100%;
    }
  }
// Línea de la mitad en la portada
p.author::before, div.quarto-title-author::before {
    content: "";
    display: block;
    border: none;
    background-color: $body-color;
    color: $body-color;
    height: 5px;
    margin-bottom: 1em;
  }

  // p, a {
  //   color: #7F7F7F;
  // }
}

.footer {
  bottom: 10px !important;
  color: #7F7F7F !important;
}

.slide-logo {
  display: block !important;
  position: fixed !important;
  top: 0px !important;
  right: 10px !important;
  max-height: 15% !important;
  height: 100% !important;
  width: auto !important;
  color: $body-color !important;
}

.slide-menu-button {
  left: 10px !important;
  bottom: 10px !important;
}

.slide-number, .reveal.has-logo .slide-number {
  bottom: 10px !important;
  right: 10px !important;
  top: unset !important;
  color: $body-color !important;
  font-size: 20px;
}

.cell-output {
  border: 1px solid white;
  border-radius: 4px;
}

.center-x {
  text-align: center;
}

.center-xy {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateY(-50%), translateX(-50%);
  transform: translateY(-50%), translateX(-50%);
}
// títulos de los gráficos (tamaño del texto)
.caption{
   text-align: center;
   font-style: italic;
   //font-weight: 500;
}

.reveal .slide figure>figcaption, .reveal .slide img.stretch+p.caption, .reveal .slide img.r-stretch+p.caption {
    font-size: 0.5em;
}
// headers h2
.reveal h2 {
    font-size: 1em;
}

.reveal h3 {
    font-size: 0.8em;
}

.reveal p {
    font-size: 0.6em;
}